pandas
biopython
torch
transformers
datasets
esm
openmm
requests
biotite
pymupdf4llm
pymupdf
torch
torchvision
layoutparser
SQLAlchemy==1.4.54
git+https://github.com/facebookresearch/detectron2.git@v0.5#egg=detectron2
